.wpcf7 {
  input[type=text],
  input[type=email],
  textarea,
  select {
    width:100%;
    @include font-size(16, 18);
  }

  input[type=submit] {
    @extend .button;
    @include font-size(16, 18);
    background:linear-gradient(to bottom, $red 40%, darken($red, 10%)) $red;
    color:white !important;
    border:0;
    border-bottom:2px solid darken($red, 15%);
    text-shadow: none;
    box-shadow: none;
  }
}